<!DOCTYPE html>
{% extends 'MyApp/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
{% block body_block %}
<body>
<div class="jumbotron">
    <div class = "container">
        <h1>
            Welcome to CORE Banking Customer
        </h1>
        <h2>
            Bank Rules
        </h2>
        <ul>
            <li>
                Term1: You should login 1 time per Week
            </li>
            <li>
                Term2: You should login 1 time per Month
            </li>
        </ul>
    </div>
</div>
</body>
{% endblock %}
</html>